.header {
  width: 100%;
  padding: 45px 0 41px 0;
  border-bottom: 1px rgba(84, 84, 84, 0.7) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 45px 27px 41px 27px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 28px 27px 31px 27px;
  }
}
